*.DS_Store
*.pyc
*pycache*
*.fasta
/testing framework/data*
/testing framework/data/testing_output/*
*.vscode
*databases*
*.o
*.so
docs/_build/
*-checkpoint.ipynb
*win32*
*win*
*.obj
*.ipynb_checkpoints*
src/build*